:root {
    --primary: rgb(209, 196, 7);
    --background: rgb(65, 150, 91);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'EB Garamond', sans-serif;
    background-color: var(--background);
    color: azure;
    position: fixed;
}
.container .row{
    display: flex;
    min-height: 100vh;
    color: #000;
}

.btn-primary {
    width: 100%;
    padding: 0.75rem;
    height: 45Px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #0056b3;
}
input.form-control::placeholder {
    color: #3a5231;
}
input.form-control{
    color: #12270f;
}
#myButton {
padding: 15px;
width: 100%;
color: white;
background-color: #257928;
border-radius: 20px;
font-size: 20px;
border: none;
cursor: pointer;
transition: background-color 0.3s, color 0.3s;
margin-bottom: 1rem;
}
#myButton:hover {
    background-color: #45a049;
}


